<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>LOG Display</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
      table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
          font-size: 20px solid black;
      }
    </style>
</head>

<body style="background-image: url('https://www.hdwallpapers.in/download/rainbow_tiles-1920x1080.jpg');background-attachment: fixed;" >
  <h2>This main page!</h2>
  <div class="jumbotron" style="width:600px; margin:auto; font-size: 14px">
    <div class="container">
      <h2>Logs files</h2><br>
      <!--<div class="col-sm-4 resv">
        <div class="d-flex flex-row">
          <input id="start" name="start" class="form-control" type="text" placeholder="ip" autocomplete="off">
          <input id="start" name="start" class="form-control" type="text" placeholder="password" autocomplete="off">
          <button type="button" href="#" target="_blank" class="btn btn-primary btn-default">Connect</button>
        </div>
    </div>-->
      <br>
      <div>
        <form action="/output" method="POST">
        <div class="form-group">
          <label for="key">Enter the Unique file name for the generated file</label>
          <input style="font-size: 16px" type="text" class="form-control" name="file_name"  placeholder="Enter file name Ex: abc.tar" required>
        </div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">File Names</th>
                <th scope="col">Last Modified</th>
                <th scope="col">Size</th>
              </tr>
            </thead>
            <tbody>
                {% for i in entry %}
                  <tr>
                    <td style="font-size:16px"><div class="checkbox"><label><input type="checkbox" name="file_selected" value="{{ i.split(" ")[0] }}">{{ i.split(" ")[0] }}</label></div></td>
                    <td style="font-size:16px">{{ i.split(" ")[1] +" "+ i.split(" ")[2] +" "+ i.split(" ")[3] }}</td>
                    <td style="font-size:16px">{{ i.split(" ")[4] }}</td>
                  </tr>
                {% end %}
            </tbody>
          </table>

          <div class="form-check">
            <input style="font-size: 20px" type="submit" class="btn btn-primary btn-lg" allign="middle"/>
            <input style="font-size: 20px" type="reset" value="Reset" class="btn btn-warning btn-lg">
          </div>
        </form>
      </div>
    </div>
  </div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
